@model SauApp.Models.Student
<div>
<h3>
 @Model.Name @Model.Surname  @Model.StudentID @Model.SignedAt</h3>
<p>You have <mark>successfully signed</mark>!</p>

<div>
<a class="btn btn-success" asp-action="Index" asp-controller="Home"> Home </a></div>
</div>