@using SauApp.Models
@model List<Student>

<h3>List of participants: </h3>
<table>
    <thead>
        <tr> Name </tr>
        <tr> Attendance </tr>
    </thead>
    <tbody>
        @foreach(var i in Model){
        <tr>
            <td> @i.Name </td>
         
        </tr>
        }
    </tbody>
</table>