@using SauApp.Models
@model List<Student>


<h1>List of All Students</h1>
<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Signed</th>
        <th>Details</th>
    </tr>
    @foreach (var student in SauApp.Models.Repository.Students)
    {
        <tr>
            <td>@student.StudentID</td>
            <td>@student.Name</td>
            <td>@student.Surname</td>
            <td>@(student.Signed ? "Yes" : "No")</td>
            <td><a asp-controller="Students" asp-action="Info" >
                    View Details
                </a>
            </td>
        </tr>
    }
</table>