


<form asp-action="Register" method="post">
<div>
    <label>Name: </label>
    <input type="text" name = "Name" />
</div>
<div>
    <label>Last Name: </label>
    <input type="text" name = "Last Name" />
</div>
<div>
    <label>ID: </label>
    <input type="text" name = "ID" />
</div>

    <button type="submit">SIGN</button>

</form>