@using SauApp.Models
@model SauApp.Models.Student


<form action="/Student/Register" method="post">

    <div>
        <label>ID:</label>
        <input type="text" name="studentId" />
    </div>
    <button type="submit">SIGN</button>
</form>
